body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.17;
    letter-spacing: 0.03em;  
}
/* #region header */

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: uppercase;
    color: #4d5ae5;
}
.page-nav {
    letter-spacing: 0.02em;
    font-weight: 500;
    text-decoration: none;
    color: #2E2F42;
}
.page-nav .link {
    text-decoration: none;
    color: #2E2F42;
}
li {
    list-style: none;
}
.page-nav .link:hover,
.page-nav .link:focus {
    color: #404BBF;
}
.page-address {
    font-style: normal;
}
.page-address .list-address {
    
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none; 
    color: #434455;
}
.page-address .list-address:hover,
.page-address .list-address:focus {
    color: #404BBF;         
}
/* #endregion header */
/* #region section solutions */
.section-solutions {
    background-color: #2E2F42;
}
.section-solutions .page-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.section-solutions .button {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: #FFFFFF;
    text-align: center;
}
.section-solutions button:hover,
.section-solutions button:focus {
    background-color:  #404BBF;
}
/* #endregion section solutions */
/* #region our team */
.section-our-team {
    background-color: #F4F4FD;
}
.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    text-align: center;
}
.section-our-team .club-list {
    text-align: center;
    list-style: none;
}
.club-list .text-team {
    letter-spacing: 0.02em;
}
.club-list .title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
}

/* #endregion our team */
/* #region footer */
.page-footer {
    color: #FFFFFF;
    background-color: #2E2F42;
}
.page-footer .page-text {
    color:#F4F4FD;
    letter-spacing: 0.02em;
}
/* #endregion footer */