body {
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #434455;  
}
/* #region header */

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration: none;
    text-transform: uppercase;
    color: #4d5ae5;
}
.logo-head {
    font-weight: 700;
    color: #2E2F42;
}
.list-nav {
    letter-spacing: 0.02em;
    font-weight: 500;
    line-height: 1.5;
    text-decoration: none;
    color: #2E2F42;
}
.list-nav .link {
    text-decoration: none;
    color: #2E2F42;
}
li {
    list-style: none;
}
.page-nav .link:hover,
.page-nav .link:focus {
    color: #404BBF;
}
.page-address {
    font-style: normal;
}
.page-address .link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #434455;
}
.page-address .link:hover,
.page-address .link:focus {
    color: #404bbf;         
}
/* #endregion header */
/* #region section solutions */
.sec-solutions {
    background-color: #2E2F42;
}
.section-solutions .page-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.section-solutions .button {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: #FFFFFF;
    background-color: #4d5ae5;
    text-align: center;
}
.section-solutions button:hover,
.section-solutions button:focus {
    background-color:  #404BBF;
}
/* #endregion section solutions */
/* #region adventages */
.club-list .title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2f42;
}
.club-list .text-list {
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* #endregion adventages */
/* #region our team */
.section-our-team {
    background-color: #F4F4FD;
}
.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2f42;
    text-align: center;
}
.section-title .title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2f42;
}
.page-list {
    list-style: none;
    background-color: #FFFFFF;
}
.section-our-team .page-list .title {
    line-height: 1.2;
}
.section-our-team .page-list .text-list {
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* #endregion our team */
/* #region Portfolio */
.page-portfolio .club-list .title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.page-portfolio .club-list .text-list {
    color: #434455;
}
/* #endregion Portfolio */
/* #region footer */
.page-footer {
    background-color: #2E2F42;
}
.page-footer .text-list {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}
/* #endregion footer */